.t-Tabs--pill {
	.t-Tabs-item.is-active {
		.t-Tabs-link {
			background-color: $shq-tab-pill-active;
			color: $blanc-shq-qc;

			&:hover {
				background-color: $shq-tab-pill-hover;
				color: $blanc-shq-qc;
			}
		}
	}

	.t-Tabs-link {
		&:hover {
			background-color: $shq-tab-pill-hover;
			color: $blanc-shq-qc;
		}
	}
}

.shq-tabs--pill-no-bottom-margin {
	.t-Tabs.t-Tabs--pill {
		margin-bottom: 0px;
	}
}

/*
 * Tabs simple. 
 */
.t-Tabs--simple .t-Tabs-link:hover {
	background-color: lighten($base-qc-pale,3%);
	border-top-left-radius: .4rem;
	border-top-right-radius: 0.4rem;
}