.page-201.app-DEM_PUBLIC {   
   & .t-AVPList{
       & .t-AVPList-label {
          padding-left: 0px !important;
       }      
    }
    & .a-Table.u-Report.table-stroke th {
      background-color: #1f6eae !important;
      fill:#1f6eae !important;
      color:#ffffff !important;
  }     
 }
